#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.reviews-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #fcd5d5; /* gray-300 */
  opacity: 1;
}

.reviews-pagination .swiper-pagination-bullet-active {
  background: #ee96a1;
  scale: 1.2;
}
